.body{
    display: flex;
}
.left{
    flex:2;
    padding:0px 20px;
    background-color: black;
    color: rgb(199, 198, 198);
}
.min-left{
    flex:0.8;
    padding:0px 10px;
    background-color: black;
    color:rgb(199, 198, 198);
}
.right{
    flex:10;
    height:900px;
    position:relative;
}