/* .sidebar {
    position: fixed;
} */

.logo {
    width: 90%;
    height: 50px;
    padding-top: 20px;
}

.dashboard-title {
    text-align: left;
    padding: 20px 0px;
}

hr {
    border: 1px solid gold;
}

.dashboard-title:hover {
    color: white;
    font-weight: 500;
}

.active {
    color: white;
    font-weight: 500;
}

#maximum {
    display: flex;
    align-items: center;
    gap: 10px;
}

#minimum {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}